@using Microsoft.EntityFrameworkCore
@model ShopContext
@foreach (var entityType in Model.Model.GetEntityTypes())
{
    var tableName = entityType.Relational().TableName;
    <ul>
        <li>@tableName</li>
        <ul>
            @foreach (var propertyType in entityType.GetProperties())
            {
                var columnName = propertyType.Relational().ColumnName;
                <li>@columnName</li>
            }
        </ul>
    </ul>
}